/* ===================================
========= register page  */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  flex-direction: column;
  background-image: linear-gradient(0deg, #999999 0%, #000000 100%);
}

.form-container form {
  box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
  padding: 20px;
  background-color: #cfcfcf;
}

.form-container form .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.form-container form input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

.form-container form button {
  border: 1px solid black;
  border-radius: 0;
  background-color: #000;
  color: white;
  width: 250px;
  font-family: 'Poppins', sans-serif;
}

.form-container form button:hover {
  border: 1px solid black;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #434343,
      #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #434343,
      #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.forgot {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  cursor: pointer;
}


.bt-left {
  border-right: 1px solid black;
}

.headerrr {
 padding-right: 270px;
}

.cent {
  margin-left: 100px;
}

.borderr {
  border-bottom: 1px solid rgb(98, 98, 98);
}

.btn1 {
  width: 200px;
  background-color: rgb(5, 52, 93);
  color: white;
  border: none;
  height: 40px;
  border-radius: 5px;
}


.btn1:hover {
  background-color: rgb(3, 66, 121);
}

body {
  background-color: #8888883c;
  overflow-x: hidden;
}

.font{
  font-weight: bold;
  color: orangered;
  font-size: 22px;
}